.ipynb_checkpoints/
stanford-train-dataset/
siamese_model_weights/
convnet_weights/
__pycache__/
model/
stanford-car-dataset-by-classes-folder/
features/
sandbox.ipynb
-objects/
modules/yolo-tiny.h5
modules/yolo.h5
